/* 

font-family: 'Roboto', ;
font-family: 'Montserrat', ;
primary-color #2B2E34 - gray
secondary-color #021371 - darkblue

*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
}
.first-row {
    height: 508px;
    background-color: #021371;
    padding: 100px 40px 10px 40px;
    
}
.first-row h1{
    font-size: 2.5em;
    color: #fff;
}

.section {
    padding-top: 40px;
    background-color: #fff;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section h3 {
    background-color: #2B2E34;
    color: #fff;
    font-size: 1.5em;
    padding: 0.5em 0.7em;
}
.section h4 {
    font-size: 1.5em;
    align-self: center;
}

.section:nth-child(even) {
    background: #F4F4F4;
}
.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tags p {
    color: #2B2E34;
    font-size: 9px;
    font-family: "Roboto", sans-serif;
    background-color: #FDDFE7;
    padding: 0.5em 1em;

    

}


footer {
    background-color: #021371;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    color: #fff;
    font-size: 1.5em;
}

@media screen and (min-width: 576px){
    .container{
        width: 90vw;
    }
}
@media screen and (min-width: 992px){
    .container{
        width: 90vw;
    }
}
@media screen and (min-width: 1200px){
    .container{
        width: 1080px;
    }
}