/* 

font-family: 'Roboto', ;
font-family: 'Montserrat', ;
primary-color #2B2E34 - gray
secondary-color #021371 - darkblue

*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
}
.first-row {
    height: 508px;
    background-color: #021371;
    background-image: url(pictures/industry%20gray.jpg);
    background-size: cover;
    padding: 100px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.row-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
     color: #fff;
}
.row-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon-first {
    background-color: #222;
}

.a-circle {
    width: 250px;
    height: 250px;
    position: relative;
}

.a-circle img {
    background-color: #222;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    bottom: -20px;
    right: 20px;
}

.first-row h1{
    font-size: 3.5em;
    max-width: 40%;
}
.first-row h2{
    font-size: 2.5em;
    
}
.second-row {
    background: #F4F4F4;
    min-height: 200px;
    display: flex;
    align-items: center;
}
.section {
    padding-top: 40px;
    background-color: #fff;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section h3 {
    background-color: #2B2E34;
    color: #fff;
    font-size: 1.5em;
    padding: 0.5em 0.7em;
    text-transform: uppercase;
}
.section h4 {
    font-size: 1.5em;
    align-self: center;
}

.section:nth-child(odd) {
    background: #F4F4F4;
}
.important{
    width: 57%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.important article {
    width: 40%;
    height: auto;
}
.proj-title {
    background-image: url("pictures/FAQ-design.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    color: #021371;
    overflow: hidden;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tags p {
    color: #2B2E34;
    font-size: 9px;
    font-family: "Roboto", sans-serif;
    background-color: #FDDFE7;
    padding: 0em 0.5em;

    

}
.mylist {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: #021371;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    color: #fff;
    font-size: 1.5em;
}

@media screen and (min-width: 576px){
    .container{
        width: 90vw;
    }
}
@media screen and (min-width: 992px){
    .container{
        width: 90vw;
    }
    .first-row {
    height: 508px;
    background-color: #021371;
    background-image: url(pictures/industry%20gray.jpg);
    background-size: cover;
    padding: 100px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.row-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
     color: #fff;
}
.row-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}
@media screen and (min-width: 1200px){
    .container{
        width: 1080px;
    }
}