/* 

font-family: 'Roboto', ;
font-family: 'Montserrat', ;
primary-color #2B2E34 - gray
secondary-color #021371 - darkblue

*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:focus {
    border: 2px solid crimson;
}

.container {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
}
.first-row {
    height: 508px;
    color: #fff;
    background-color: #021371;
    background-image: url(../pictures/industry%20gray.jpg);
    background-size: cover;
    padding: 0px 30px;
    display: grid;
    grid-template-rows: 2fr 3fr 2fr;
    justify-items: end; 
    align-items: end;
}
.first-row h1{
    text-shadow: 1px black;
}

.name {
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
    max-width: 100%;
    
    
}
.name p{
    font-size: 1.2em;
}

.name span{
    font-weight: bold;
}

.icon-first {
    margin-left: auto;
    width: 90%;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.icon-first a{
    width: 60px;
    height: 60px;
   
}
.icon-first div {
    width: 90%;
    height: 90%;
    padding: 5px;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-first img {
    width: 55%;
    height: 55%;
    margin: auto;
    
}
/* 
Insert Comment 
.icon-first a:nth-child(1) {
    grid-column-start: 2;   
}
*/


.a-circle {
    width: 150px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
}

.a-circle img {
    background-color: #222;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    bottom: -20px;
    right: 0px;
}

.first-row h1{
    font-size: 3em;
    max-width: 40%;
}
.first-row h2{
    font-size: 1.5em;
    
}
.second-row {
    background: #F4F4F4;
    min-height: 200px;
    display: flex;
    align-items: center;
}
/* .word {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
} */
.dekoration {
    max-width: 80px;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    float: left;
}


.line {
    width: 50px;
    height: 3px;
    background-color: #021371;
   
}
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #021371;
}
.empty {
    clear: both;
}

.section {
    background-color: #fff;
    min-height: 200px;
    
}
.section:nth-child(odd) {
    background: #F4F4F4;
}
.inner-section {
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section h3 {
    background-color: #021371;
    color: #fff;
    font-size: 1.5em;
    padding: 0.5em 0.7em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section h4 {
    font-size: 1.5em;
    align-self: center;
    color: #021371;
    text-transform: uppercase;
}

.mylist {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: flex-start;
}
.mylist ul  {
    list-style-type: none;
    padding: 1em;
    max-width: 45%;
}
ul p{
    color: #021371;
    text-transform: uppercase;
    font-weight: bold;
}



.second-icon {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.second-icon a{
    width: 60px;
    height: 70px;
    color: #2B2E34;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.second-icon div{
    width: 90%;
    height: 90px;
    margin: auto;
    border: 2px solid #021371;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-icon img {
    width: 50%;
    height: 50%;
}
.second-icon p{
    font-size: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
    color: #021371;
    
    
}

footer {
    background-color: #2B2E34;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    color: #fff;
    font-size: 1.5em;
}

@media screen and (min-width: 576px){
    .container{
        width: 90vw;
    }
    .first-row {
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .name {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        align-self: start;
        max-width: 100%;
        
    }
    
    .icon-first {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: stretch;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        justify-items: start;
       
    }
    
    
    .icon-first a:nth-child(1) {
        grid-column-start: 2;
        
    }
    .icon-first a:nth-child(2) {
        grid-column-start: 3;
        
    }
    .icon-first a:nth-child(3) {
        grid-column-start: 4;
        
    }
    
    .a-circle {
        width: 200px;
        height: 200px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        position: relative;
    }
    
    .a-circle img {
        background-color: #222;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        bottom: -20px;
        
    }
    
    .first-row h1{
        font-size: 3em;
        max-width: 40%;
    }
    .first-row h2{
        font-size: 1.7em;
        
    }
    .inner-section{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    
.mylist {
    width: 80%;

}
.mylist ul{
    max-width: 22%;
}
    .second-icon a{
        width: 100px;
        height: 150px;
    }
    .second-icon p{
        font-size: 1em;
    }
 
}
@media screen and (min-width: 992px){
    .container{
        width: 90vw;
    }
    .icon-first a{
    width: 50px;
    height: 50px;   

}

    .a-circle {
        width: 250px;
        height: 250px;
        
    }
    
    .a-circle img {
        width: 250px;
        height: 250px;
    
    }

    .first-row h1{
        font-size: 3.5em;
        max-width: 40%;
    }
    .first-row h2{
        font-size: 2em;
        
    }
    .inner-section{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

  
}
@media screen and (min-width: 1200px){
    .container{
        width: 1080px;
    }
}